/*
 * Theme Information:
 *
 * Name: Untitled_1
 * Author: Dovuq & xrdrsp
 * Version: 3.1
 */

body
{
    background-color: #ffffff;
    color: #000000;
    padding: 100px;
}
h1
{
    text-align: center;
}
table,th,td
{
    border: 1px solid #000000;
}
table
{
    border-collapse: collapse;
}
.header
{
    text-align: center;
    color: #3399ff;
    font-size: 20px;
}
.footer
{
    text-align: center;
    color: #999966;
    font-size: 16px;
}
.error
{
    color: #ff0000;
}
pre
{
    background-color: #eeeeee;
    border: 1px solid #000000;
}